.vtal-md {
  vertical-align: middle;
}
.vtal-bottom {
  vertical-align: bottom;
}
.vtal-base {
  vertical-align: baseline;
}
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
.color-white {
  color: #fff;
}
.dspl-inbl {
  display: inline-block;
}
.dspl-block {
  display: block;
}
.dspl-none {
  display: none;
}
.flex {
  display: flex;
}
.flex-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.flex-around {
  justify-content: space-around;
}
.flex-middle {
  align-items: center;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.text-center {
  text-align: center;
}
.pst-relative, .pst-rlt {
  position: relative;
}
.pst-absl {
  position: absolute;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cs-pt {
  cursor: pointer;
}